<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://www.gopalanschool.com/international/" target="_top">Gopalan International School Website</a>
    </p>
    <p>
        <a href="https://www.facebook.com/Gopalan.International.School/" target="_top">Facebook</a>
    </p>
</div>




